@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links {
  position: relative;
}

.navbar-links::after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #282dad;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.group:hover .navbar-links::after, .active-link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-span-image {
  background-image: url('/logspan.jpg');
}

@layer utilities {
  h1, h2, h3, h4, h5, h6, p {
    @apply leading-tight text-primaryBlack
  }

  p {
    @apply text-[#545454] font-normal
  }
  
  main, .home-hero-content, .services-section-content {
    @apply px-[15px] md:px-[20px] sm-lg:px-[30px] lg:px-[50px] x-lg:px-[70px]
  }

  a, img {
    @apply block;
  }

  h1 {
    @apply text-[41px] font-semibold xsm:text-[48px] md:text-[58px] lg:text-[62px]
  }
  
  h2 {
    @apply text-[30px] font-semibold xsm:text-[36px] md:text-[42px]
  }
  
  h4 {
    @apply text-[18px] font-medium xsm:text-[20px] md:text-[24px]
  }

  .input-section {
    @apply flex flex-col mb-[20px] 
  }
  
  .input-section label {
    @apply mb-[5px] text-[#545454] md:text-lg
  }
  
  
  
  input, textarea, select {
    @apply px-[20px] py-[12px] text-[#545454] mb-[10px] md:text-lg outline-1 outline-primaryBlue
  }
  
  textarea {
    @apply px-[20px] py-[12px] text-[#545454] md:text-lg
  }

  .quote-form input, .quote-form select {
    @apply bg-transparent placeholder:text-white border-b-2 border-b-[#545454] outline-none focus:border-b-white transition-all duration-300
  }

  .active-link {
    @apply text-primaryBlue
  }
}
